*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

p{
  font-size: 10px;
  color: grey;
}

.bottom{
  display: flex; 
  justify-content: space-between; 
  width: 8rem; 
  margin-left: 19rem;
}

